<!DOCTYPE html>
<html ng-app='app'>
	<head>
		<script type="text/javascript" src="bower_components/angular/angular.js"></script>
		<title>Wolf's Page</title>
		<link rel="stylesheet" type="text/css" href="dojo-table.css">
		<script type="text/javascript">

			var app = angular.module('app',[])

			var ProductFactory = app.factory('ProductFactory',function() {
				var factory = {}
				var products = [ // seed data
					{'name':'C', 'price':4},
					{'name':'D', 'price':1},
					{'name':'B', 'price':5},
					{'name':'E', 'price':3},
					{'name':'A', 'price':2},
				]
				factory.new = {}
				factory.create = function() {
					products.push(factory.new)
					factory.new = {}
				}
				factory.delete = function(index) {
					for (var i = index; i < products.length; i++) {
						products[i] = products[i+1]
					}
					products.pop()
				}
				factory.products = function() {
					return products
				}
				return factory
			})

			var SortTable = function($table) {

				// var $orders = {
					// 'columns'      : ['name','price','qty'],
					// 'column_names' : ['Name','Price','Qty available']
				// }
				$table.sort_column = '$index'
				$table.sort_asc = false
				$table.nColumns = $table.columns.length
				$table.column_icons = homogeneous('&#x29eb',$table.nColumns)

				// - - - HELPER FUNCTIONS - - -

				function homogeneous(contents,length=1) {
					arr = []
					for (var i = 0; i < length; i++) {
						arr[i] = contents
					}
					return arr
				}

				// - - - CALLABLE FUNCTIONS - - -

				this.list = function() {
					return $table.contents
				}

				this.headers = function() {
					var headers = []
					for (var i = 0; i < $table.column_names.length; i++) {
						headers[i] = $table.column_names[i] + ' ' + $table.column_icons[i]
					}
					return headers
				}

				this.sort_column = function() {
					return $table.columns[$table.sort_column]
				}

				this.sort_by = function(column) {
					$table.column_icons = homogeneous('',$table.nColumns)
					if (column == $table.sort_column) {
						$table.sort_asc = !$table.sort_asc
					} else {
						$table.sort_column = column
						$table.sort_asc = true
					}
					$table.column_icons[column] = $table.sort_asc ? '&#x25b2' : '&#x25bc'
					return $table
				}
			}

			var productsCXR = app.controller('productsCXR',['$scope','ProductFactory','$sce',function($scope, ProductFactory, $sce) {

				function trust(obj) {
					for (key in obj) {
						obj[key] = $sce.trustAsHtml(obj[key])
					}
					return obj
				}

				var table = new SortTable({
					'contents'     : ProductFactory.products(),
					'columns'      : ['name','price'],
					'column_names' : ['Name','Price'],
				})
				$scope.Product = ProductFactory
				$scope.products = table.list()
				$scope.headers = trust(table.headers())
				$scope.dynamic_order = table.sort_column()
				$scope.sort_by = function(column_index) {
					var sort = table.sort_by(column_index)
					// $scope.dynamic_order = table.sort_column()
					$scope.reverse = !sort.sort_asc
					$scope.headers = trust(table.headers())
				}
			}])

		</script>

	</head>

	<body>
		<div ng-controller="productsCXR">
			<h1 ng-if="false">Error: Angular cannot be found, or is not able to run</h1>
			<table>
				<tr>
					<td>Product Name:</td><td><input type="text" ng-model="Product.new.name"></td>
				</tr>
				<tr>
					<td>Product Price:</td><td><input type="text" ng-model="Product.new.price"></td>
				</tr>
			</table>
			<button ng-click="Product.create()">Add Product</button>
			<table class="dojo-table">
				<thead>
					<th 
						ng-repeat="header in headers" 
						ng-bind-html="header" 
						ng-click="sort_by($index)"
					></th>
					<th>Actions</th>
				</thead>
				<tr ng-repeat="
				product in products | orderBy : dynamic_order : reverse">
					<td>{{product.name}}</td>
					<td ng-bind="product.price | currency : $ : 2" style="text-align: right;"></td>
					<td><button ng-click="Product.delete($index)">Delete</button></td>
				</tr>
			</table>
		</div>
	</body>
</html>